xcuserdata/
.idea/
Secrets.plist
awsconfiguration.json
amplify/
.amplifyrc
graphql/
.graphqlconfig.yml
Pods/
export/
firebase-debug.log
firestore-debug.log
ui-debug.log
.build/
GoogleService-Info.plist
build/
