<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>887197709861-a8kb44au133gc7p8crimebj788uv1hoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887197709861-a8kb44au133gc7p8crimebj788uv1hoh</string>
	<key>API_KEY</key>
	<string>AIzaSyAW575EBrrVhQzP6Xx49JuqcoxXo6OqIdI</string>
	<key>GCM_SENDER_ID</key>
	<string>887197709861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshfreed.mowine</string>
	<key>PROJECT_ID</key>
	<string>mo-wine</string>
	<key>STORAGE_BUCKET</key>
	<string>mo-wine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887197709861:ios:9cf71c5b4fce89d4</string>
	<key>DATABASE_URL</key>
	<string>https://mo-wine.firebaseio.com</string>
</dict>
</plist>